/*Banner do header*/
.top-banner-header {
    background: #009739;
}

.top-banner-header {
    height: 50px;
}

.top-banner-header-button button {
    background: #e4002b;
    padding: 3px 8px;
    border-radius: 15px;
    width: 132px;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

@media (max-width: 485px) {
    .top-banner-header-text {
        font-size: 10px;
        width: auto;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 485) and (max-width: 576px) {
    .top-banner-header-text {
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 1000px) {
    .top-banner-header-text {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    .top-banner-header-text {
        font-size: 24px;
    }
}

/*Fim do banner do header*/

/*Inicio do nav do header*/
.nav-link-color {
    color: #2b2a2a;
}

.row {
    flex: 1;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e6e2;
}
.list-menus {
    border-bottom: 1px solid #e0e6e2;
}

main {
    margin-top: 166.7px;
}

@media (max-width: 991px) {
    main {
        margin-top: 125.7px;
    }
}

/*Fim do nav do header*/

/*Inicio do conteudo dos cards*/
.icon-favorite {
    color: #afafaf;
    width: 24px;
}
.icon-favorite:hover {
    color: #c5c5c5;
    cursor: pointer;
}

.card-text {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical;
    color: #4e4e4e;
}

.card-body h5 {
    color: #888888;
    text-decoration: line-through;
    font-size: 1rem;
}

.card-body h4 {
    font-size: 1.3rem;
}

.card-body a {
    background: #009739;
    border: none;
    width: 80%;
}

.card-body a:hover {
    background: #006426;
}

.card-header {
    border: none;
    background-color: #ffffff;
}

.card:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.card {
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
}

.box {
    margin: 10px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .box {
        margin: 0 100px;
    }
}

@media (min-width: 521px) and (max-width: 576px) {
    /*314*/

    .box {
        margin: 0 0120px;
    }
    .box-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 400px) and (max-width: 521px) {
    /*314*/

    .box {
        margin: 0 80px;
    }
    .box-container {
        grid-template-columns: 1fr;
    }
}
/*Fim do conteudo dos cards*/

/*Inicio do conteudo da localizacao*/

@media (min-width: 576px) and (max-width: 768px) {
    /*314*/

    .localizacao iframe {
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 576px) {
    /*314*/

    .localizacao iframe {
        width: 300px;
        height: 200px;
    }
}
/*Footer*/
.footer-copyright-p {
    padding: 10px;
    margin-bottom: 0;
}
.footer-copyright-a {
    font-weight: bold;
    color: #444;
}

.footer-copyright-a:hover {
    text-decoration: none;
    color: #3ec1d5;
}

hr {
    width: 90%;
    margin: auto;
}
