/*Banner do header*/
.top-banner-header {
    background: #009739;
}

.top-banner-header {
    height: 50px;
}

.top-banner-header-button button {
    background: #e4002b;
    padding: 3px 8px;
    border-radius: 15px;
    width: 132px;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

@media (max-width: 485px) {
    .top-banner-header-text {
        font-size: 10px;
        width: auto;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 485) and (max-width: 576px) {
    .top-banner-header-text {
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 1000px) {
    .top-banner-header-text {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    .top-banner-header-text {
        font-size: 24px;
    }
}

/*Fim do banner do header*/

/*Inicio do nav do header*/
.nav-link-color {
    color: #2b2a2a;
}

.row {
    flex: 1;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e6e2;
}
.list-menus {
    border-bottom: 1px solid #e0e6e2;
}

main {
    margin-top: 166.7px;
}

@media (max-width: 991px) {
    main {
        margin-top: 125.7px;
    }
}
